//main palette
$main-blue: #5c6bff;
$main-purple: #F2ECFF;
$main-green: #6bbaa2;

//secundary palette 1 darkest
$sec-grey1: #222222;
$sec-grey2: #3b3b3b;
$sec-grey3: #515151;
$sec-grey4: #626262;
$sec-grey5: #7e7e7e;
$sec-grey6: #9E9E9E;
$sec-grey7: #CFCFCF;
$sec-grey9: #E1E1E1;
$sec-grey10: #F7F7F7;

