@use './imports/colors.scss' as color;

.about-page {
  nav {
    width: 100%;
    ul {
      li:nth-child(3) {
        color: color.$main-blue;
      }
    }
  }
}

.about-container {
  width: 70%;
  margin: 0 auto;

  h2 {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 3rem;
    font-size: 4rem;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    color: color.$main-green;
  }

  p{
    width: 50rem;
    padding-bottom: 2.4rem;
    font-size: 2.1rem;
    font-family: 'Roboto', sans-serif;
    line-height: 2.8rem;
    color: color.$sec-grey7;

    span{
      color: color.$main-blue;
    }
  }

}

.footer-about{
  display: flex;
  justify-content: center;

  span{
    padding-top: 6.1rem;
    font-size: 1.2rem;
    color: color.$sec-grey6;
  }

}