@use "./imports/colors.scss" as color;
@use "./imports/fonts.scss";

:root {
  font-size: 10px;
  background-color: color.$sec-grey1;
}

.home-page {
  .nav-header {
    width: 100%;
    ul {
      li:first-child {
        color: color.$main-blue;
      }
    }
  }
}

.introduction {
  max-width: 60rem;
  position: relative;
  margin-left: 15%;
  margin-top: 20vh;
  font-size: 7rem;
  font-weight: 800;

  h1 {
    padding-bottom: 1.8rem;
    color: color.$main-green;
    font-family: "Source Code Pro", monospace;
  }

  h2 {
    padding-bottom: 1.8rem;
    color: color.$sec-grey10;
    font-family: "Roboto", sans-serif;
  }

  h3 {
    padding-bottom: 1.8rem;
    color: color.$sec-grey10;
    font-family: "Roboto", sans-serif;
  }

  span {
    color: color.$sec-grey10;
    &:last-of-type {
      color: color.$main-green;
    }
  }

  button {
    background: none;
    position: relative;
    margin-top: 1.5rem;
    padding: 0.5rem 1.3rem;
    font-size: 4rem;
    font-weight: 300;
    color: color.$main-blue;
    border: 2px solid color.$main-blue;
    border-color: color.$main-blue;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 101%;
      height: 100%;
      background: color.$main-blue;
      z-index: -1;
      transition: transform 0.5s;
      transform-origin: 0 0;
      transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
      transform: scaleY(0);
    }

    &:hover {
      color: color.$sec-grey10;
      &::before {
        transform: scaleY(1);
      }
    }
  }
}

@media only screen and (max-width: 615px) {
  .introduction {
    font-size: 5rem;
  }
}

.footer-index {
  display: flex;
  justify-content: center;
  span {
    padding-top: 19.8rem;
    font-size: 1.2rem;
    color: color.$sec-grey6;
  }
}
