@use "./imports/colors.scss" as c;
@use "./imports/fonts.scss";

:root{
  font-size: 10px;
  background-color: c.$sec-grey1;
}

.home-page {
  .nav-header {
    width: 100%;
    ul {
      li:first-child {
        color: c.$main-blue;
      }
    }
  }
}

.introduction {
  position: absolute;
  left: 20%;
  top: 32%;
  font-size: 6rem;
  font-weight: 800;

  h1 {
    padding-bottom: 1.8rem;
    color: c.$main-green;
    font-family: 'Source Code Pro', monospace;
  }
  h2 {
    padding-bottom: 1.8rem;
    color: c.$sec-grey10;
    font-family: 'Roboto', sans-serif;
  }
  h3 {
    padding-bottom: 1.8rem;
    color: c.$sec-grey10;
    font-family: 'Roboto', sans-serif;
  }
  span {
    position: relative;
    color: c.$sec-grey10;
  }
  :nth-child(4) {
    color: c.$main-green;
  }
  button {
    position: relative;
    top: 7rem;
    left: -48rem;
    padding: 0.5rem 1.3rem;
    font-size: 3.2rem;
    font-weight: 300;
    background-color: c.$sec-grey1;
    color: c.$main-blue;
    border-color: c.$main-blue;
    cursor: pointer;
  }
}
