@use './imports/colors.scss' as color;
@use "./imports/fonts.scss";

.projects-page{
    nav {
        width: 100%;
        ul{
           li:nth-child(2){
            color: color.$main-blue;
           }
        }
    }
}

.projects-header{
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 3rem;
    font-size: 4rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: color.$main-green;
}

.card-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, 28rem);
    justify-content: center;
    gap: 3rem;
    width: 70%;
    margin: 0 auto;
    font-size: 10px;

    .card{
        display: flex;
        flex-direction: column;
        width: 28rem;
        background-color: color.$sec-grey2;
        -webkit-box-shadow: 3px 2px 16px -4px rgba(0,0,0,0.55); 
        box-shadow: 3px 2px 16px -4px rgba(0,0,0,0.55);
        
        .card-image{
            img{
                width: 28rem;
            }
        }

        .card-information{
            p{
                margin: 1rem auto;
                width: 85%;
                font-size: 1.4rem;
                color: color.$sec-grey7;
                font-family: 'Roboto', sans-serif;
                text-shadow: 2px 4px 8px rgba(0,0,0,0.55);
                line-height: 1.6rem;
            }

            &::after{
                content:"";
                display:block;
                width: 100%;
                border-bottom: 1px solid color.$sec-grey3;
            }
        }

        .tag-container{
            padding: 1rem;
            margin: 0 auto;

            span{
                font-family: 'Roboto', sans-serif;
                margin: 0 0.4rem;
                padding: 0.2rem 0.5rem;
                background-color: color.$sec-grey3;
                color: color.$sec-grey7;
                -webkit-box-shadow: 0px 2px 13px -4px #222222; 
                box-shadow: 0px 2px 13px -4px #222222;
            }
        }
       
        .card-button{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 5rem;
            font-size: 2rem;
            font-weight: 600;
            font-family: 'Roboto', sans-serif;
            text-shadow: 2px 4px 8px rgba(0,0,0,0.4);
            background-color: color.$sec-grey3;
            color: color.$main-green;
            cursor: pointer;
        }

     
    }
}
