@use './imports/colors.scss' as color;
@use "./imports/fonts.scss";

.projects-page{
    nav {
        width: 100%;
        ul{
           li:nth-child(2){
            color: color.$main-blue;
           }
        }
    }
}

.projects-header{
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 3rem;
    font-size: 4rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: color.$main-green;
}

.card-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, 28rem);
    justify-content: center;
    gap: 3rem;
    width: 70%;
    margin: 0 auto;
    font-size: 10px;
}

.footer-projects{
    display: flex;
    justify-content: center;
  
    span{
      padding-top: 5rem;
      padding-bottom: 0.8rem;
      font-size: 1.2rem;
      color: color.$sec-grey6;
    }
  
  }
