@use './imports/colors.scss' as c;

.nav-social {
  display: inline-flex;
  flex-direction: column;
  width: fit-content;
  position: fixed;
  bottom: 6%;
  left: 4%;
  
  color: c.$sec-grey10;
  * {
    padding-bottom: 2.4rem;
    cursor: pointer;
  }
  a {
    width: min-content;
    &:link {
      text-decoration: inherit;
      color: inherit;
    }

    &:visited {
      text-decoration: inherit;
      color: inherit;
    }
    &:hover {
      color: c.$main-blue;
    }
  }
}

@media only screen and (max-width: 475px) {
  .nav-social {
    display: none;
  }
}
